<ion-header>
  <ion-navbar color="appcolor">
    <ion-title>
      Explicaciones matemáticas
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
	  <ion-item>
	    <ion-thumbnail item-start>
	      <img src="assets/imgs/pitagoras.jpg">
	    </ion-thumbnail>
	    <h2>Teorema de Pitágoras</h2>
	    <p>Detalles de este teorema</p>
	    <button ion-button clear item-end icon-only (click)="changePita()" color="appcolor">
	    	<ion-icon name="add-circle"></ion-icon>
	    </button>
	  </ion-item>

		<ion-card *ngIf="pita">
			<img src=assets/imgs/pitag33.png">
		  <ion-card-header text-center>
		    <b>Definción</b>
		  </ion-card-header>
		  <ion-card-content>
	    	<h6>
	    		El teorema de Pitágoras establece que en todo triángulo rectángulo, el cuadrado de la longitud de la hipotenusa es igual a la suma de los cuadrados de las respectivas longitudes de los catetos.
	    	</h6>
	    	<br>
	    	<h6>
	    		<b>Ecuación</b><br><br>
	    		c<sup>2</sup> = a<sup>2</sup> + b<sup>2</sup>
	    	</h6>
	    	<br>
	    	<h6 text-center><b>Razones trigronométricas</b></h6><br>
	    	<h6>
	    		Las razones trigonométricas de un ángulo θ son las razones obtenidas entre los tres lados de un triángulo rectángulo. Es decir, la comparación por su cociente de sus tres lados a, b y c.
	    	</h6>
	    	<br>
	    	<h6>sen(θ) = a / c</h6><br>
	    	<h6>cos(θ) = b / c</h6><br>
	    	<h6>tan(θ) = a / b</h6>
		  </ion-card-content>
		</ion-card>

	  <ion-item>
	    <ion-thumbnail item-start>
	      <img src="assets/imgs/sincos.gif">
	    </ion-thumbnail>
	    <h2>Ley del seno y coseno</h2>
	    <p>Definición de estos leyes</p>
	    <button ion-button clear item-end icon-only (click)="changeSinCos()" color="appcolor">
	    	<ion-icon name="add-circle"></ion-icon>
	    </button>
	  </ion-item>

	  <ion-card *ngIf="sincos">
			<img src="assets/imgs/teosincos2.png">
		  <ion-card-content>
		  	<h6 text-center><b>Ley del seno</b></h6><br>
	    	<h6>
	    		 Es la relación entre los lados y ángulos de triángulos no rectángulos (oblicuos). Simplemente, establece que la relación de la longitud de un lado de un triángulo al seno del ángulo opuesto a ese lado es igual para todos los lados y ángulos en un triángulo dado.
	    	</h6>
	    	<br>
	    	<h6>
	    		<b>Ecuación</b><br><br>
	    		a / sin(α) = b / sin(β) = c / sin(γ) <br>
	    	</h6>
	    	<br>
	    	<h6 text-center><b>Ley del coseno</b></h6><br>
	    	<h6>
	    		Es usada para encontrar las partes faltantes de un triángulo oblicuo (no rectángulo) cuando ya sea las medidas de dos lados y la medida del ángulo incluído son conocidas o las longitudes de los tres lados son conocidos.
	    	</h6>
	    	<br><h6><b>Ecuación</b><br><br></h6>
	    	<h6>a<sup>2</sup> =  b<sup>2</sup> + c<sup>2</sup> - 2bc.cos(α)</h6><br>
	    	<h6>b<sup>2</sup> =  a<sup>2</sup> + c<sup>2</sup> - 2ac.cos(β)</h6><br>
	    	<h6>c<sup>2</sup> =  a<sup>2</sup> + b<sup>2</sup> - 2ab.cos(γ)</h6>
		  </ion-card-content>
		</ion-card>

	  <ion-item>
	    <ion-thumbnail item-start>
	      <img src="assets/imgs/ecua23.jpg">
	    </ion-thumbnail>
	    <h2>Ecuaciones</h2>
	    <p>Resolución de estas</p>
	    <button ion-button clear item-end icon-only (click)="changeEcuation()"color="appcolor">
	    	<ion-icon name="add-circle"></ion-icon>
	    </button>
	  </ion-item>

	  <ion-card *ngIf="ecuation">
		  <ion-card-content>
		  	<h6 text-center><b>Ecuación de 2<sup>do</sup> grado</b></h6><br>
	    	<h6>
	    		 Es una ecuación que tiene la forma de una suma algebraica de términos cuyo grado máximo es dos, es decir, una ecuación cuadrática puede ser representada por un polinomio de segundo grado o polinomio cuadrático.
	    	</h6>
	    	<br>
	    	<h6>
	    		<b>Expresión</b><br><br>
	    		ax<sup>2</sup> + bx + c = 0 
	    	</h6><br><br>
	    	<h6>
	    		<b>Resolución</b><br>
	    	</h6>
	    	<img height="50px" src="assets/imgs/x1.svg">
	    	<img height="50px" src="assets/imgs/x2.svg">
	    	<br><br>
	    	<h6 text-center><b>Ecuación de 3<sup>er</sup> grado</b></h6><br>
	    	<h6>
	    		Una ecuación algebraica de tercer grado o ecuación cúbica con una incógnita es aquella de grado tres1​ que se puede poner bajo la forma canónica:
	    	</h6>
	    	<br>
	    	<h6>ax<sup>3</sup> +  bx<sup>2</sup> + cx + d = 0</h6><br>
	    	<h6>Para vas información visite el siguiente <a href="https://es.wikipedia.org/wiki/Ecuaci%C3%B3n_de_tercer_grado">link</a></h6>
		  </ion-card-content>
		</ion-card>

	  <ion-item>
	    <ion-thumbnail item-start>
	      <img src="assets/imgs/matrix.gif">
	    </ion-thumbnail>
	    <h2>Matrices</h2>
	    <p>Operaciones con matrices</p>
	    <button ion-button clear item-end icon-only (click)="changeMatri()" color="appcolor">
	    	<ion-icon name="add-circle"></ion-icon>
	    </button>
	  </ion-item>

	  <ion-card *ngIf="matri">
		  <ion-card-content>
		  	<h6 text-center><b>Suma y resta de matrices</b></h6><br>
	    	<h6>
	    		Si A y B son dos matrices de la misma dimensión, la suma de A y B es otra matriz de igual dimensión. La matriz A+B se obtiene sumando los elementos de A y de B que ocupan la misma posición.
	    		<br><br>
				Así, si C es la matriz suma A+B, el elemento c<sub>ij</sub> es la suma de a<sub>ij</sub>  y  b<sub>ij</sub>.
				<br><br>
				La diferencia o resta de matrices se define de modo similar, restando los elementos que ocupan la misma posición.
	    	</h6>
	    	<br>
	    	<h6 text-center><b>Multiplicación de matrices</b></h6><br>
	    	<h6>
	    		Usted solo puede multiplicar dos matrices si sus dimensiones son compatibles , lo que significa que el número de columnas en la primera matriz es igual al número de renglones en la segunda matriz. Si A es una matriz a × b y B es una matriz b × c , el producto AB es una matriz a × c .
	    	</h6>
	    	<br>
	    	<h6>Para vas información visite el siguiente <a href="https://es.wikipedia.org/wiki/Multiplicaci%C3%B3n_de_matrices">link</a></h6>
		  </ion-card-content>
		</ion-card>

	</ion-list>
</ion-content>
