<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Inicio" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Documentación" tabIcon="book"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contacto" tabIcon="contacts"></ion-tab>
</ion-tabs>
