<!--
  Generated template for the PitagorasPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Teorema de Pitágoras
    	<ion-icon name="warning" float-right></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
	  <img src="assets/imgs/pitag33.png">
	  <ion-card-content>
	  	a = Cateto Opuesto (CO)<br>
	    b = Cateto Adyacente (CA)<br>
		c = Hipotenusa (H)<br>
		θ = Ángulo entre H y CA<br>
	  </ion-card-content>
	</ion-card>

	<h6>Variables para realizar el cálculo</h6>
	<ion-item>
	  <ion-label>Selecciones dos variables</ion-label>
	  <ion-select [(ngModel)]="variables" (ionChange)="onChange();" multiple="true">
	    <ion-option value="ca">CA</ion-option>
	    <ion-option value="co">CO</ion-option>
	    <ion-option value="h">H</ion-option>
	    <ion-option value="theeta">θ°</ion-option>
	  </ion-select>
	</ion-item>

	<ion-card *ngIf="permit">
	  <ion-card-header text-center>
	    Introducir valores
	  </ion-card-header>
	  <ion-card-content>
	  	<ion-item>
	    	<ion-label stacked>{{varOne}} =</ion-label>
	    	<ion-input [(ngModel)]="valueOne" type="text"></ion-input>
	 	</ion-item>

		<ion-item>
		    <ion-label stacked>{{varTwo}} =</ion-label>
		    <ion-input [(ngModel)]="valueTwo" type="text"></ion-input>
		</ion-item>

		<ion-row>
			<ion-col col-12>
				<button ion-button type="submit" (click)="calPitagoras()">
		      		Calcular
		    	</button>
			</ion-col>
		</ion-row>
	  </ion-card-content>
	</ion-card>

	<ion-card *ngIf="showres">
	  <ion-card-header text-center>
	    Resultados
	  </ion-card-header>
	  <ion-card-content>
	  	<ion-item>
	    	<h6>CA = {{ valueCA }}</h6>
	 	</ion-item>
	 	<ion-item>
	    	<h6>CO = {{ valueCO }}</h6>
	 	</ion-item>
	 	<ion-item>
	    	<h6>H = {{ valueH }}</h6>
	 	</ion-item>
	 	<ion-item>
	    	<h6>θ = {{ valueTH }}</h6>
	 	</ion-item>
	  </ion-card-content>
	</ion-card>

</ion-content>
