<!--
  Generated template for the TmasaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Unidades de masa
    	<ion-icon name="beaker" float-right></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h6>Elija las unidades a transformar></h6>

	<ion-item>
		<ion-input type="text" [(ngModel)]="valueu"></ion-input>
	  <ion-select [(ngModel)]="unitone">
	  	<ion-option value="mg">Miligramo</ion-option>
	    <ion-option value="gr">Gramo</ion-option>
	    <ion-option value="kg">Kilogramo</ion-option>
	    <ion-option value="tn">Tonelada</ion-option>
	    <ion-option value="lb">Libra</ion-option>
	    <ion-option value="oz">Onza</ion-option>
	  </ion-select>
	</ion-item>

	<ion-row>
		<ion-col col-12>
			<button ion-button type="submit" (click) = "calUnits()">
	      		Calcular
	    	</button>
		</ion-col>
	</ion-row>
	<ion-card *ngIf="show">
	  <ion-card-header text-center>
	    Resultados
	  </ion-card-header>
	  <ion-card-content>
	  	<h6>Miligramo = {{ valuemg }}</h6>
	  	<h6>Gramo = {{ valuegr }}</h6>
	  	<h6>Kilogramo = {{ valuekg }}</h6>
	  	<h6>Tonelada = {{ valuetn }}</h6>
	  	<h6>Libra = {{ valuelb }}</h6>
	  	<h6>Onza = {{ valueoz }}</h6>
	  </ion-card-content>
	</ion-card>
</ion-content>
