<ion-header>
  <ion-navbar color="appcolor">
    <ion-title>
      Contacto
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img  src="assets/imgs/logo.png"/>
      <ion-card-header text-center>
        <b>Desarrolado por Luis Sanchez</b>
      </ion-card-header>
    <ion-card-content> 
      <p>
        Herramienta de cálculos matemáticos desarrollado bajo el framework IONIC
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-list-header>Redes de contacto</ion-list-header>
    <ion-item>
      <ion-icon name="logo-google" item-start></ion-icon>
      luismsg2110@gmail.com
    </ion-item>
    <ion-item>
      <ion-icon name="logo-github" item-start></ion-icon>
      <a href="https://bitbucket.org/luismsg2110/">Repositorio</a>
    </ion-item>
    <ion-item>
      <ion-icon name="globe" item-start></ion-icon>
      <a href="https://luismsg2110.000webhostapp.com/">Mi portafolio</a>
    </ion-item>
  </ion-list>
</ion-content>
