<ion-header>
  <ion-navbar color="appcolor">
    <ion-title text-center text-uppercase>Inicia tus cálculos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-border>

    <ion-list-header color="appcolor2" text-uppercase>
      Matemática
    </ion-list-header>

    <button [navPush]="calculatorPage" ion-item  icon-start>
      <ion-icon name="calculator" item-start></ion-icon>
      Calculadora
    </button>

    <button [navPush]="complexPage" ion-item  icon-start>
      <ion-icon name="information" item-start></ion-icon>
      Números complejos
    </button>

    <button [navPush]="matrixPage" ion-item  icon-start>
      <ion-icon name="grid" item-start></ion-icon>
      Matrices
    </button>


  </ion-list>


  <ion-list>

    <ion-list-header color="appcolor2" text-uppercase>
      Trigonometría
    </ion-list-header>

    <button [navPush]="pitagorasPage" ion-item  icon-start>
      <ion-icon name="warning" item-start></ion-icon>
      Pitágoras
    </button>

    <button [navPush]="sincosPage" ion-item  icon-start>
      <ion-icon name="pulse" item-start></ion-icon>
      Leyes de seno y coseno
    </button>

  </ion-list>

  <ion-list>

    <ion-list-header color="appcolor2" text-uppercase>
      Ecuaciones
    </ion-list-header>

    <button [navPush]="equationtwoPage" ion-item  icon-start>
      <ion-icon name="star-half" item-start></ion-icon>
      Segundo grado
    </button>

    <button [navPush]="equationthreePage" ion-item  icon-start>
      <ion-icon name="star" item-start></ion-icon>
      Tercer grado
    </button>

  </ion-list>

   <ion-list>

    <ion-list-header color="appcolor2" text-uppercase>
      Funciones f(x)
    </ion-list-header>

    <button [navPush]="plotfunPage" ion-item  icon-start>
      <ion-icon name="analytics" item-start></ion-icon>
      Graficar funciones
    </button>

  </ion-list>

  <ion-list>

    <ion-list-header color="appcolor2" text-uppercase>
      Tranformación de unidades
    </ion-list-header>

    <button [navPush]="tspacePage" ion-item  icon-start>
      <ion-icon name="jet" item-start></ion-icon>
      Espacio
    </button>

    <button [navPush]="ttimePage" ion-item  icon-start>
      <ion-icon name="time" item-start></ion-icon>
      Tiempo
    </button>

    <button [navPush]="tmasaPage" ion-item  icon-start>
      <ion-icon name="beaker" item-start></ion-icon>
      Masa
    </button>

    <button [navPush]="ttemperaturePage" ion-item  icon-start>
      <ion-icon name="thermometer" item-start></ion-icon>
      Temperatura
    </button>


  </ion-list>


</ion-content>