<!--
  Generated template for the TtemperaturePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Unidades de temperatura
    	<ion-icon name="thermometer" float-right></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h6>Elija las unidades a transformar></h6>

	<ion-item>
		<ion-input type="text" [(ngModel)]="valueu"></ion-input>
	  <ion-select [(ngModel)]="unitone">
	  	<ion-option value="gc">° Celcius</ion-option>
	    <ion-option value="gf">° Fahrenheit</ion-option>
	    <ion-option value="gk">° Kelvin</ion-option>
	  </ion-select>
	</ion-item>

	<ion-row>
		<ion-col col-12>
			<button ion-button type="submit" (click) = "calUnits()">
	      		Calcular
	    	</button>
		</ion-col>
	</ion-row>
	<ion-card *ngIf="show">
	  <ion-card-header text-center>
	    Resultados
	  </ion-card-header>
	  <ion-card-content>
	  	<h6>Grados Celcius = {{ valuegc }}</h6>
	  	<h6>Grado Fahrenheit = {{ valuegf }}</h6>
	  	<h6>Grado Kelvin = {{ valuegk }}</h6>
	  </ion-card-content>
	</ion-card>
</ion-content>
