<!--
  Generated template for the MatrixPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Matrices
    	<ion-icon name="grid" float-right></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h6>Elija la operación matemática que realizará para un par de matrices</h6>
	<ion-item>
	  <ion-label>Operación</ion-label>
	  <ion-select [(ngModel)]="operation" (ionChange)="onChange(operation);">
	    <ion-option value="sum">Sumar</ion-option>
	    <ion-option value="rest">Restar</ion-option>
	    <ion-option value="multi">Multiplicar</ion-option>
	  </ion-select>
	</ion-item>

	<h6 *ngIf="showOne" id="ecuation" text-center>ECUACIÓN <br><br>a<sub>{{length}}{{width}}</sub><span [ngStyle]="{'color': color}"><b> {{ operator }} </b></span>b<sub>{{length}}{{width}}</sub> = s<sub>{{length}}{{width}}</sub></h6>

	<h6 *ngIf="showTwo" id="ecuation" text-center>ECUACIÓN <br><br>a<sub>{{lengthA}}{{widthA}}</sub><span [ngStyle]="{'color': color}"><b> {{ operator }} </b></span>b<sub>{{lengthB}}{{widthB}}</sub> = s<sub>{{lengthA}}{{widthB}}</sub></h6>

<!-- Para suma y resta se muestra lo siguiente -->
	<h6 *ngIf="showOne">Selecione las dimensiones de las matrices A y B</h6>
	
	<ion-item *ngIf="showOne">
	  <ion-label>Número de filas</ion-label>
	  <ion-select [(ngModel)]="length" (ionChange)="onChange(length);"  ng-options="length for length in sizes" interface="popover">
	    <ion-option checked="true" value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item *ngIf="showOne">
	  <ion-label>Número de columnas</ion-label>
	  <ion-select [(ngModel)]="width" (ionChange)="onChange(width);" ng-options="width for width in sizes" interface="popover">
	    <ion-option checked="true" value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
	  </ion-select>
	</ion-item>
<!-- Aqui sólo para suma y resta -->

<!-- Aquí se muestra para multiplicación -->
	<h6 *ngIf="showTwo">Selecione las dimensiones de la matriz A</h6>
	
	<ion-item *ngIf="showTwo">
	  <ion-label>Número de filas A</ion-label>
	  <ion-select [(ngModel)]="lengthA" (ionChange)="onChange(lengthA);"  ng-options="lengthA for lengthA in sizes" interface="popover">
	  	<ion-option value="1">1</ion-option>
	    <ion-option checked="true" value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item *ngIf="showTwo">
	  <ion-label>Número de columnas A</ion-label>
	  <ion-select [(ngModel)]="widthA" (ionChange)="onChange(widthA);" ng-options="widthA for widthA in sizes" interface="popover">
	  	<ion-option value="1">1</ion-option>
	    <ion-option checked="true" value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
	  </ion-select>
	</ion-item>

	<h6 *ngIf="showTwo">Selecione las dimensiones de la matriz B</h6>
	
	<ion-item *ngIf="showTwo">
	  <ion-label>Número de filas B</ion-label>
	  <ion-select [(ngModel)]="lengthB" (ionChange)="onChange(lengthB);"  ng-options="lengthB for lengthB in sizes" disabled interface="popover">
	  	<ion-option value="1">1</ion-option>
	    <ion-option checked="true" value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
	  </ion-select>
	</ion-item>

	<ion-item *ngIf="showTwo">
	  <ion-label>Número de columnas B</ion-label>
	  <ion-select [(ngModel)]="widthB" (ionChange)="onChange(widthB);" ng-options="widthB for widthB in sizes" interface="popover">
	  	<ion-option value="1">1</ion-option>
	    <ion-option checked="true" value="2">2</ion-option>
        <ion-option value="3">3</ion-option>
        <ion-option value="4">4</ion-option>
        <ion-option value="5">5</ion-option>
        <ion-option value="6">6</ion-option>
	  </ion-select>
	</ion-item>

<!-- Aquí sólo para multiplicación -->

<!-- Aquí se muestra para ambos casos -->
	<ion-card *ngIf="show">
	  <ion-card-header text-center>
	    Matriz A
	  </ion-card-header>
	  <ion-card-content>
	  	<ion-row *ngFor="let row of cellsA; let in = index;">
		    <ion-col *ngFor="let cell of row; let ind = index; trackBy:trackByFn">
		        <input [(ngModel)]="cellsA[in][ind]" type="text"/>
		    </ion-col>
	    </ion-row>
	  </ion-card-content>
	</ion-card>
	<ion-card *ngIf="show">
	  <ion-card-header text-center>
	    Matriz B
	  </ion-card-header>
	  <ion-card-content>
	  	<ion-row *ngFor="let row of cellsB; let in = index;">
		    <ion-col *ngFor="let cell of row; let ind = index; trackBy:trackByFn">
		        <input [(ngModel)]="cellsB[in][ind]" type="text"/>
		    </ion-col>
	    </ion-row>
	  </ion-card-content>
	</ion-card>
<!-- Aquí se muestra para ambos casos -->

	<ion-card *ngIf="resShow">
	  <ion-card-header text-center>
	    Resultado
	  </ion-card-header>
	  <ion-card-content>
	  	<ion-row *ngFor="let row of result; let in = index;">
		    <ion-col *ngFor="let cell of row; let ind = index;" text-center>
		        {{ result[in][ind] }}
		    </ion-col>
	    </ion-row>
	  </ion-card-content>
	</ion-card>

	<ion-row *ngIf="show">
		<ion-col col-12>
			<button ion-button type="submit" (click)="calMatrix()">
	      		Calcular
	    	</button>
		</ion-col>
	</ion-row>

</ion-content>
