page-matrix {
	ion-content {
		ion-card {
			ion-card-content {
				ion-row {
					ion-col{
						input {
							width: 100%; 
							text-align: center
						}
					}
				}
			}
		}
		ion-row {
			ion-col {
				button {
					width: 100%; 
					text-align: center;
				}
			}
		}
	}
}
