<!--
  Generated template for the EquationtwoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Ecuación de 2<sup>do</sup> Grado
    	<ion-icon name="star-half" float-right></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h6 text-center>ECUACIÓN <br><br> ax<sup>2</sup> + bx + c = 0 </h6>

	<ion-card>
	  <ion-card-header text-center>
	    Introduzca las variables
	  </ion-card-header>
	  <ion-card-content>
	  	<ion-item>
	    	<ion-label stacked>Valor de a</ion-label>
	    	<ion-input [(ngModel)]="valuea" type="text"></ion-input>
	 	</ion-item>
	 	<ion-item>
	    	<ion-label stacked>Valor de b</ion-label>
	    	<ion-input [(ngModel)]="valueb" type="text"></ion-input>
	 	</ion-item>
	 	<ion-item>
	    	<ion-label stacked>Valor de c</ion-label>
	    	<ion-input [(ngModel)]="valuec" type="text"></ion-input>
	 	</ion-item>
	 	<ion-row>
			<ion-col col-12>
				<button ion-button type="submit" (click)="calEquationTwo()">
		      		Calcular
		    	</button>
			</ion-col>
		</ion-row>
	  </ion-card-content>
	</ion-card>

	<ion-card *ngIf = "showreal">
	  <ion-card-header text-center>
	    Resultados 
	  </ion-card-header>
	  <ion-card-content>
	  	<h6>x1 = {{ x1 }}</h6>
	  	<h6>x2 = {{ x2 }}</h6>
	  </ion-card-content>
	</ion-card>

	<ion-card *ngIf = "showcomplex">
	  <ion-card-header text-center>
	    Resultados 
	  </ion-card-header>
	  <ion-card-content>
	  	<h6>x1 = {{ xi1 }} + j{{ xj1}}</h6>
	  	<h6>x2 = {{ xi1 }} - j{{ xj1}}</h6>
	  </ion-card-content>
	</ion-card>

</ion-content>
