@font-face {
    font-family: 'DS-Digital';
    font-style: normal;
    font-weight: 400;
    src: local('DS-Digital'), local('DS-Digital-Normal'),
        url(../assets/fonts/ds-digital.woff) format('woff'),
        url(../assets/fonts/ds-digital.ttf) format('truetype');
}
page-calculator {
	ion-content{
		ion-grid{
			ion-row{
				ion-col{
					button{
						width: 100%;
					}
				}
			}
		}
		ion-item {
			ion-row {
				ion-col {
					font-family: DS-Digital, arial !important;
					font-size: 36px;
					background-color: #9FF781;
					width: 100%;
					border-radius: 5px; 
				}
			}
		}
	}
}
