<!--
  Generated template for the CalculatorPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Calculadora 
    	<ion-icon name="calculator" float-right></ion-icon>
    </ion-title>

  </ion-navbar>

</ion-header>

<ion-content padding>

<form id="calculator-form">
	<ion-item>
    	
    	<ion-row>
    		<ion-col col-12>
    			{{ result }}
    		</ion-col>
    	</ion-row>
  	</ion-item>
</form>

<ion-grid>

  <ion-row justify-content-center>
    <ion-col col-3>
    	<button ion-button text-lowercase (click)="log()">
      		log
    	</button>
    </ion-col>
    <ion-col col-3>
     	<button ion-button text-lowercase (click)="sine()">
	  		sin
		</button>
    </ion-col>
    <ion-col col-3>
      	<button ion-button text-lowercase (click)="arcsine()">
  			sin<sup>-1</sup>
		</button>
    </ion-col>
    <ion-col col-3>
      	<button ion-button color="danger" (click)="clear()">
      		CE
    	</button>
    </ion-col>
  </ion-row>

  <ion-row justify-content-center>
    <ion-col col-3>
    	<button ion-button text-lowercase (click)="squared()">
      		x<sup>2</sup>
    	</button>
    </ion-col>
    <ion-col col-3>
     	<button ion-button text-lowercase (click)="cosine()">
	  		cos
		</button>
    </ion-col>
    <ion-col col-3>
      	<button ion-button text-lowercase (click)="arccosine()">
  			cos<sup>-1</sup>
		</button>
    </ion-col>
    <ion-col col-3>
      	<button ion-button text-lowercase color="secondary" (click)="operation(5)">
      		x<sup>n</sup>
    	</button>
    </ion-col>
  </ion-row>

  <ion-row >
    <ion-col col-3>
    	<button ion-button text-lowercase (click)="squareRoot()">
      		√x
    	</button>
    </ion-col>
    <ion-col col-3>
     	<button ion-button text-lowercase (click)="tangent()">
	  		tan
		</button>
    </ion-col>
    <ion-col col-3>
      	<button ion-button text-lowercase (click)="arctangent()">
  			tan<sup>-1</sup>
		</button>
    </ion-col>
    <ion-col col-3>
      	<button ion-button text-lowercase color="secondary" (click)="operation(6)">
      		%
    	</button>
    </ion-col>
  </ion-row>

 <ion-row >
    <ion-col col-3>
    	<button ion-button text-lowercase color="light" (click)="numbers(1)">
      		1
    	</button>
    </ion-col>
    <ion-col col-3>
     	<button ion-button text-lowercase color="light" (click)="numbers(2)">
	  		2
		</button>
    </ion-col>
    <ion-col col-3>
      	<button ion-button text-lowercase color="light" (click)="numbers(3)">
  			3
		</button>
    </ion-col>
    <ion-col col-3>
      	<button ion-button text-lowercase color="secondary" (click)="operation(4)">
      		/
    	</button>
    </ion-col>
  </ion-row>

 <ion-row >
    <ion-col col-3>
    	<button ion-button text-lowercase color="light" (click)="numbers(4)">
      		4
    	</button>
    </ion-col>
    <ion-col col-3>
     	<button ion-button text-lowercase color="light" (click)="numbers(5)">
	  		5
		</button>
    </ion-col>
    <ion-col col-3>
      	<button ion-button text-lowercase color="light" (click)="numbers(6)">
  			6
		</button>
    </ion-col>
    <ion-col col-3>
      	<button ion-button text-lowercase color="secondary" (click)="operation(3)">
      		X
    	</button>
    </ion-col>
  </ion-row>

<ion-row >
    <ion-col col-3>
    	<button ion-button text-lowercase color="light" (click)="numbers(7)">
      		7
    	</button>
    </ion-col>
    <ion-col col-3>
     	<button ion-button text-lowercase color="light" (click)="numbers(8)">
	  		8
		</button>
    </ion-col>
    <ion-col col-3>
      	<button ion-button text-lowercase color="light" (click)="numbers(9)">
  			9
		</button>
    </ion-col>
    <ion-col col-3>
      	<button ion-button text-uppercase color="secondary" (click)="operation(1)">
      		+
    	</button>
    </ion-col>
  </ion-row>

<ion-row >
    <ion-col col-3>
    	<button ion-button color="light" (click)="numbers('.')">
      		.
    	</button>
    </ion-col>
    <ion-col col-3>
     	<button ion-button text-lowercase color="light" (click)="numbers(0)">
	  		0
		</button>
    </ion-col>
    <ion-col col-3>
      	<button ion-button text-lowercase color="light" (click)="equals()">
  			=
		</button>
    </ion-col>
    <ion-col col-3>
      	<button ion-button text-uppercase color="secondary" (click)="operation(2)">
      		-
    	</button>
    </ion-col>
  </ion-row>

</ion-grid>

</ion-content>
