<!--
  Generated template for the TtimePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Unidades de tiempo
    	<ion-icon name="time" float-right></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h6>Elija las unidades a transformar></h6>

	<ion-item>
		<ion-input type="text" [(ngModel)]="valueu"></ion-input>
	  <ion-select [(ngModel)]="unitone">
	    <ion-option value="ns">Nanosegundo</ion-option>
	    <ion-option value="ms">Microsegundo</ion-option>
	    <ion-option value="mis">Milisegundo</ion-option>
	    <ion-option value="sg">Segundo</ion-option>
	    <ion-option value="min">Minuto</ion-option>
	    <ion-option value="hr">Hora</ion-option>
	    <ion-option value="di">Dia</ion-option>
	    <ion-option value="sm">Semana</ion-option>
	    <ion-option value="ao">Año</ion-option>
	  </ion-select>
	</ion-item>

	<ion-row>
		<ion-col col-12>
			<button ion-button type="submit" (click) = "calUnits()">
	      		Calcular
	    	</button>
		</ion-col>
	</ion-row>
	<ion-card *ngIf="show">
	  <ion-card-header text-center>
	    Resultados
	  </ion-card-header>
	  <ion-card-content>
	  	<h6>Nanosegundo = {{ valuens }}</h6>
	  	<h6>Microsegundo = {{ valuems }}</h6>
	  	<h6>Milisegundo = {{ valuemis }}</h6>
	  	<h6>Segundo = {{ valuesg }}</h6>
	  	<h6>Minuto = {{ valuemin }}</h6>
	  	<h6>Hora = {{ valuehr }}</h6>
	  	<h6>Dia = {{ valuedi }}</h6>
	  	<h6>Semana = {{ valuesm }}</h6>
	  	<h6>Año = {{ valueao }}</h6>
	  </ion-card-content>
	</ion-card>
</ion-content>
