<!--
  Generated template for the SincosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Leyes de Seno y Coseno
    	<ion-icon name="pulse" float-right></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-card>
	  <img src="assets/imgs/teosincos2.png">
	  <ion-card-content>
		<ion-row>
			<ion-col col-5>
				a = Lado BC
			</ion-col>
			<ion-col col-7>
				α = Ángulo entre c y b
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-5>
				b = Lado AC<br>
			</ion-col>
			<ion-col col-7>
				β = Ángulo entre c y a
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col col-5>
				c = Lado AB
			</ion-col>
			<ion-col col-7>
				γ = Ángulo entre a y b
			</ion-col>
		</ion-row>
	  </ion-card-content>
	</ion-card>

	<h6>Variables para realizar el cálculo</h6>
	<ion-item>
	  <ion-label>Selecciones 3 variables</ion-label>
	  <ion-select [(ngModel)]="variables" (ionChange)="onChange();" multiple="true">
	    <ion-option value="a">a</ion-option>
	    <ion-option value="b">b</ion-option>
	    <ion-option value="c">c</ion-option>
	    <ion-option value="alfa">α</ion-option>
	    <ion-option value="beta">β</ion-option>
	    <ion-option value="gamma">γ</ion-option>
	  </ion-select>
	</ion-item>

	<ion-card *ngIf="permit">
	  <ion-card-header text-center>
	    Introducir valores
	  </ion-card-header>
	  <ion-card-content>
	  	<ion-item>
	    	<ion-label stacked>{{varOne}} =</ion-label>
	    	<ion-input [(ngModel)]="value1" type="text"></ion-input>
	 	</ion-item>

		<ion-item>
		    <ion-label stacked>{{varTwo}} =</ion-label>
		    <ion-input [(ngModel)]="value2" type="text"></ion-input>
		</ion-item>

		<ion-item>
		    <ion-label stacked>{{varTree}} =</ion-label>
		    <ion-input [(ngModel)]="value3" type="text"></ion-input>
		</ion-item>

		<ion-row>
			<ion-col col-12>
				<button ion-button type="submit" (click)="calSinCos()">
		      		Calcular
		    	</button>
			</ion-col>
		</ion-row>
	  </ion-card-content>
	</ion-card>

	<ion-card *ngIf="showres">
	  <ion-card-header text-center>
	    Resultados
	  </ion-card-header>
	  <ion-card-content>
	  	<ion-item>
	    	<h6>a = {{ valuea }}</h6>
	 	</ion-item>
	 	<ion-item>
	    	<h6>b = {{ valueb }}</h6>
	 	</ion-item>
	 	<ion-item>
	    	<h6>c = {{ valuec }}</h6>
	 	</ion-item>
	 	<ion-item>
	    	<h6>α = {{ valuealfa }}</h6>
	 	</ion-item>
	 	<ion-item>
	    	<h6>β = {{ valuebeta }}</h6>
	 	</ion-item>
	 	<ion-item>
	    	<h6>γ = {{ valuegamma }}</h6>
	 	</ion-item>
	  </ion-card-content>
	</ion-card>

</ion-content>
