<!--
  Generated template for the EquationthreePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Ecuación de 3<sup>er</sup> Grado
    	<ion-icon name="star" float-right></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h6 text-center>ECUACIÓN <br><br> ax<sup>3</sup> + bx<sup>2</sup> + cx + d = 0 </h6>

	<ion-card>
	  <ion-card-header text-center>
	    Introduzca las variables
	  </ion-card-header>
	  <ion-card-content>
	  	<ion-item>
	    	<ion-label stacked>Valor de a</ion-label>
	    	<ion-input [(ngModel)]="valuea" type="text"></ion-input>
	 	</ion-item>
	 	<ion-item>
	    	<ion-label stacked>Valor de b</ion-label>
	    	<ion-input [(ngModel)]="valueb" type="text"></ion-input>
	 	</ion-item>
	 	<ion-item>
	    	<ion-label stacked>Valor de c</ion-label>
	    	<ion-input [(ngModel)]="valuec" type="text"></ion-input>
	 	</ion-item>
	 	<ion-item>
	    	<ion-label stacked>Valor de d</ion-label>
	    	<ion-input [(ngModel)]="valued" type="text"></ion-input>
	 	</ion-item>
	 	<ion-row>
			<ion-col col-12>
				<button ion-button type="submit" (click)="calEquationThree()">
		      		Calcular
		    	</button>
			</ion-col>
		</ion-row>
	  </ion-card-content>
	</ion-card>

	<ion-card *ngIf = "showresult">
	  <ion-card-header text-center>
	    Resultados 
	  </ion-card-header>
	  <ion-card-content>
	  	<h6>x1 = {{ real1 }} <span *ngIf = "showi1"> {{ sign1 }} j{{ img1 }} </span></h6><br>
	  	<h6>x2 = {{ real2 }} <span *ngIf = "showi2"> {{ sign2 }} j{{ img2 }} </span></h6><br>
	  	<h6>x3 = {{ real3 }} <span *ngIf = "showi3"> {{ sign3 }} j{{ img3 }} </span></h6>
	  </ion-card-content>
	</ion-card>
</ion-content>
