<!--
  Generated template for the PlotfunPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Graficar funciones
    	<ion-icon name="analytics" float-right></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>

	  <ion-item>
	    <ion-label stacked>Introduzca la función</ion-label>
	    <ion-input type="text" [(ngModel)]="eq"></ion-input>
	  </ion-item>

	  <ion-list-header>
		      Rango de x 
		<ion-badge item-end>{{structure.lower}}</ion-badge>
	    <ion-badge item-end>{{structure.upper}}</ion-badge>
	  </ion-list-header>
	  <ion-item>

  		<ion-range dualKnobs="true" pin="true" min="-200" max="200" step="1" [(ngModel)]="structure" color="dark">
    		<ion-label range-left>-200</ion-label>
      		<ion-label range-right>200</ion-label>
  		</ion-range>
      </ion-item>

	 <button ion-button type="submit" (click)="draw()">
		Graficar
	</button>

	</ion-list>

	<div id="plot"></div>

	<ion-card>
	  <ion-card-header text-center>
	    Ejemploes de funciones
	  </ion-card-header>
	  <ion-card-content>
	  	<h6>f<sub>(x)</sub> = sin(x)</h6>
	  	<h6>f<sub>(x)</sub> = cos(x)</h6>
	  	<h6>f<sub>(x)</sub> = tan(x)</h6>
	  	<h6>f<sub>(x)</sub> = log(x)</h6>
	  	<h6>f<sub>(x)</sub> = x^n</h6>
	  	<h6>f<sub>(x)</sub> = k^x</h6>
	  </ion-card-content>
	</ion-card>

</ion-content>
