<!--
  Generated template for the ComplexPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="appcolor">
    <ion-title>Números complejos
    	<ion-icon name="information" float-right></ion-icon>
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<h6>Elija la operación matemática que realizará para un par de números complejos</h6>
	<ion-item>
	  <ion-label>Operación</ion-label>
	  <ion-select [(ngModel)]="operation" (ionChange)="onChange(operation);">
	    <ion-option value="sum">Sumar</ion-option>
	    <ion-option value="rest">Restar</ion-option>
	    <ion-option value="multi">Multiplicar</ion-option>
	    <ion-option value="div">Dividir</ion-option>
	  </ion-select>
	</ion-item>

	<h6 id="ecuation" text-center>ECUACIÓN <br><br>(a<sub>1</sub> + jb<sub>1</sub>) <span [ngStyle]="{'color': color}"><b>{{ operator }}</b></span> (a<sub>2</sub> + jb<sub>2</sub>) = c + jd</h6>

	<ion-card *ngIf="show">
	  <ion-card-header text-center>
	    Introduzca los valores
	  </ion-card-header>
	  <ion-card-content>
	  	<form [formGroup]="valores" (ngSubmit)="calForm()">
		    <ion-row>
				<ion-col col-6>
					<ion-item>
						<ion-label stacked>a<sub>1</sub></ion-label>
		    			<ion-input type="text" formControlName="val1" [(ngModel)]="a1"></ion-input>
		    		</ion-item>
				</ion-col>	
				<ion-col col-6>
					<ion-item>
						<ion-label stacked>b<sub>1</sub></ion-label>
			    		<ion-input type="text" formControlName="val2" [(ngModel)]="b1"></ion-input>
		    		</ion-item>
				</ion-col>
			</ion-row>

			<ion-row>
				<ion-col col-6>
					<ion-item>
						<ion-label stacked>a<sub>2</sub></ion-label>
		    			<ion-input type="text" formControlName="val3" [(ngModel)]="a2"></ion-input>
		    		</ion-item>
				</ion-col>	
				<ion-col col-6>
					<ion-item>
						<ion-label stacked>b<sub>2</sub></ion-label>
			    		<ion-input type="text" formControlName="val4" [(ngModel)]="b2"></ion-input>
		    		</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-12>
					<button ion-button type="submit" [disabled] = "!valores.valid">
			      		Calcular
			    	</button>
				</ion-col>
			</ion-row>
		</form>
		<ion-row>
      		<ion-col class="hola">
    			{{ real }} {{ sign}} j{{ img }}
    		</ion-col>
      	</ion-row>
	  </ion-card-content>
	</ion-card>

</ion-content>
