page-complex {
	ion-content {
		#ecuation {
			color: #585858;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		ion-card {
			ion-card-content{
				form {
					ion-row {
						ion-col {
							button {
								width: 100%;
							}
						}
					}
				}
				ion-row {
					.hola {
						background-color: #9FF781;
						width: 100%;
						border-radius: 5px; 
						text-align: center;
					}
				}
			}
		}
	}

}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
